.menu-text-container {
    max-width: 100%;
}

.menu-section {
    margin-bottom: 2rem;
}

.price {
    color: #76303e;
    margin-left: 1rem;
}

.item-name {
    color: #190250;
    margin-bottom: 0.25rem;
}

.description {
    margin-top: 0em;
}

.menu-list {
    list-style-type: none;
    padding-left: 0px;
}

.menu-img-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    font-style: italic;
}

@media only screen and (min-width: 768px) {
    .menu-text-container {
        max-width: 70%;
    }

    .menu-img-container {
        width: 30%;
    }

    h2 {
        font-size: 2rem;
    }
}
