header {
    background-color: #FFFFFF;
    height: 5rem;
    border-bottom: 1px solid gray;
}

#navbar {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navmenu {
    display: none;
    align-items: center;
    margin-top: 1rem;
}

#nav-menu-button {
    background-color: transparent;
}

#home-link {
    height: 4rem;
}

#phone-menu {
    background-color: #FFFFFF;
    transition: all 0.2s;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
}

.closed {
    display: none;
    max-height: 0px;
}

.open {
    display: flex;
    position: absolute;
    top: 5rem;
    left: 0px;
    max-height: 100vh;
}

.navlink {
    color: #2e2f57;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 700;
    padding: 0.25rem 0.5rem;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.navlink:hover {
    background-color: #2e2f57;
    color: white;
}

.phone-link {
    margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
    #nav-menu-button,
    #phone-menu {
        display: none;
    }


    header {
        height: 6rem;
    }
    #navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    #home-link {
        height: 5rem;
    }

    #navmenu {
        margin-top: 0rem;
        display: flex;
    }
}
