.img-wrapper {
    max-width: 100%;
}

.section-left,
.section-right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-right {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.link-button {
    width: 60%;
    padding: 1rem;
    color: black;
    font-weight: 600;
    background-color: #b8f5ee;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
    text-align: center;
    margin: 1rem auto 1rem auto;
    transition: all 0.2s ease-in-out;
}

.link-button:hover {
    background-color: transparent;
    color: #76303E;
    border-color: #76303E;
}

@media only screen and (min-width: 768px) {
    .img-wrapper {
        max-width: 33.3333%;
    }
    .section-left {
        width: 60%;
    }   
    .section-right {
        width: 40%
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1280px) {

}